%h1 Who We
.span6
  %img{:src => "http://blog.chicagoarchitecture.info/wp-content/uploads/2012/08/8.jpg"}

.span4
  Vestibulum imperdiet, ligula non sagittis feugiat, leo sem pretium dui, ac gravida nisl erat rutrum lectus. Ut viverra ipsum eu risus pulvinar, ac auctor enim consequat. Pellentesque semper ultricies nisi non scelerisque. Quisque pretium mauris at dolor feugiat euismod. Nullam a molestie ante. Suspendisse commodo nibh neque, ut interdum mi molestie eget.
 
